h1 {
text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color:cadetblue;
}

#enclose {
    background-color: coral;
    box-sizing: border-box;
    height: 800px;
    width: 800px;
    display: flex;
    align-items:center;
    flex-direction: column;

}

#the-box {
    background-color: yellowgreen;
    box-sizing: border-box;
    height: 200px;
    width: 300px;
}